.typographyClasses {
  h2 {
    @apply underline-offset-2
      text-3xl;
  }

  p,
  li {
    @apply font-calibre text-base leading-5 py-1
      desktop:text-lg desktop:leading-6
      true-hd:text-xl true-hd:leading-6
      tv:text-2xl tv:leading-7;
  }
}
